.card {
  display: block;
  position: relative;
  padding: 20px 23px 105px;
  background: #fff;
  text-decoration: none;
}

.number {
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
  text-align: right;
  color: #bfbfbf;
  margin: 0 0 15px;
}

.image {
  text-align: center;
  margin: 0 0 22px;

  img {
    max-width: 100%;
    display: block;
    margin: auto;
  }
}

.availability {
  font-size: 12.9px;
  font-weight: 300;
  color: #81c03d;
  margin: 0 0 5px;
}

.availability svg {
  margin-right: 8px
}

.title {
  font-size: 17.8px;
  color: #262626;
  margin: 0 0 17px;
}

.params {
  min-height: 110px;
  font-size: 11.8px;
  font-weight: 300;
  line-height: 1.86;
  color: #9b9b9b;
}

.paramElem {
  &:not:last-child {
    margin-bottom: 5px;
  }
}

.paramName {
  margin-right: 5px;
}

.paramValue {
  color: #4f4f4f;
}

.bottom {
  position: absolute;
  bottom: 32px;
  left: 23px;
  right: 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addToCart {
  width: 100px;
}

.controls {
  display: flex;
  align-items: center;
}

.control,
.controlActive {
  cursor: pointer;
  color: #bfbfbf;
  margin-left: 12px;
}

.controlActive {
  color: #0a608b;
}